.App{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: rgb(153, 162, 169);
}

.cart{
    width: 30%;

    padding: 5px;
    
}
.tariff-name{
    background-color: #5d91b6;
    padding: 10px;
    
    
}

.priсe {
    background-color: rgb(159, 238, 231);
    padding: 10px;
}
.speed {
    background-color: #F5F5F5;
    padding: 10px;
    

}
.text {
    background-color: #AFAFAF;
    padding: 10px;
    
}






